.selector.collapse {
    height: 100px;
}

.selector {
    height: 310px;
    width: 100%;
    display: block;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    border-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    background: #e6e6e6;
}

.header-selector-row {
    width: 100%;
    margin: 15px 0;
}

.selector-label {
    border: none;
    padding: 5px;
    margin: 0 4px;
    background: #fff;
    width: 110px;
    border-radius: 10px;
}

.selector-label img {
    width: 36px;
    height: 36px;
    margin: 0 0 0 4px;
}

.header-selector-section-title {
    width: 100%;
    margin: 11px 0 0;
}