/* top container css starts */

.selector.collapse {
    height: 100px;
    display: block;
}

.selector {
    height: 310px;
    width: 100%;
    display: block;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    border-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    background: #e6e6e6;
    transition: height .3s ease-out;
}

.header-selector-row {
    width: 100%;
    margin: 15px 0;
}

.selector-label {
    border: none;
    padding: 5px;
    margin: 0 4px;
    background: #fff;
    width: 110px;
    border-radius: 10px;
}

.selector-label img {
    width: 36px;
    height: 36px;
    margin: 0 0 0 4px;
}

.header-selector-section-title {
    width: 100%;
    margin: 11px 0 0;
}

.full-width-container {
    height: auto;
    width: 100%;
    display: block;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    margin: 0;
    border-style: none;
}

.selector-expender {
    height: 40px;
    padding: 0;
    background: #999;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    padding-top: 8px;
}

.full-width-container li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

.selector-expender li {
    margin: 2px;
    padding: 0;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}

/* top container css ends */

/* left container css starts */

.box .box-heading {
    border: 1px solid #DBDEE1;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    color: #333;
    border-radius: 5px 5px 0 0;
}

.box .box-content {
    background: #FFFFFF;
    border-left: 1px solid #DBDEE1;
    border-right: 1px solid #DBDEE1;
    border-bottom: 1px solid #DBDEE1;
    padding: 0px;
    border-radius: 0 0 5px 5px;
}

.mfilter-button-top {
    text-align: right;
    padding: 4px 4px 4px 0;
    clear: both;
    overflow: hidden;
}

.mfilter-button-reset {
    float: left;
    margin-left: 8px;
    text-decoration: none;
}

.mfilter-reset-icon {
    background: url(/images/adoption-icons/icons.png) no-repeat 0 3px;
    display: inline-block;
    width: 10px;
    height: 13px;
    margin-right: 3px;
    margin-top: 1px;
}

.mfilter-content > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mfilter-content > ul > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mfilter-heading {
    cursor: pointer;
    background: #eaeaea;
    font-size: 15px;
    border-top: none;
}

.mfilter-heading-content {
    position: relative;
    overflow: hidden;
    padding: 7px 8px;
}

.mfilter-heading-text {
    display: inline-block;
    width: 100%;
    margin-left: -18px;
}

.mfilter-heading-text > span {
    display: inline-block;
    padding-left: 18px;
    cursor: pointer;
    font-size: 15px;
}

.mfilter-heading .mfilter-head-icon {
    display: block;
    float: right;
    background: url(/images/adoption-icons/icons.png) no-repeat 0 -39px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    width: 17px;
    height: 9px;
    margin-right: -3px;
    margin-top: 4px;
}

.mfilter-opts-container {
    padding: 5px 0;
    border-top: 2px solid #ccc;
}

.mfilter-filter-item .mfilter-options {
    padding: 0 8px;
}

.mfilter-search #mfilter-opts-search {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 30px;
    max-height: 30px;
    margin-bottom: 0px;
}

.mfilter-tb {
    display: table;
    width: 100%;
}

.mfilter-tb-as-tr {
    display: table-row;
}

.mfilter-col-input {
    padding-right: 4px;
    width: 25px;
}

.mfilter-tb-as-td {
    display: table-cell;
    padding: 5px 0;
    border-top: 1px dashed #dcdcdc;
    vertical-align: middle;
    margin: 0;
    float: none;
}

.mfilter-col-count {
    width: 2px;
    text-align: right;
    padding: 3px 0;
}

/* this css and html elem shall be deleted later-on */
.mfilter-counter {
    border-radius: 3px;
    background: #428BCA;
    color: #fff;
    padding: 0 4px;
    float: right;
    line-height: 20px;
    position: relative;
    margin-left: 4px;
    outline: 0 !important;
    display: none;
}

/* top container css ends */